<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find savvyage_gazebo)/worlds/savvyage.world"/>
    <!-- more default parameters can be changed here -->
  </include>
  
  <!-- Spawn a robot into Gazebo -->
    <arg name="x" default="-10"/>
    <arg name="y" default="5"/>
    <arg name="z" default="0.5"/>

    <node name="savvyage_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-file $(find savvyage_description)/urdf/Bot.urdf -urdf -z 1 -model savvyage -x $(arg x) -y $(arg y) -z $(arg z)" />
  
</launch>